@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 10px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-size: 2.9rem;
    color: rgb(35, 26, 87);
}
.custom-link {
    color: #fc036b;
    text-decoration: none;
}
header{
    width: 100%;
    height: 5rem;
    background-color: rgb(35, 26, 87);
    position: fixed;
    top: 0;
    z-index: 333;
}

.second-header {
    position: relative; 
    width: 100vw;
    height: 100vh;
    background-image: url('/Home.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: 1;
}

.second-header * {
    position: relative; 
    z-index: 2;
}

.second-header-content{
    margin-bottom: 150px;
    color:rgb(35, 26, 87);
    text-align: center;
}
.second-header-content h1{
    color: rgb(35, 26, 87);
    font-size: 7vmin;
}

.second-header-content h2{
    font-size: 4vmin;
    margin-top: 200px;
}

section{
    width: 80%;
    margin: 80px auto;
}

.title{
    text-align: center;
    font-size: 4vmin;
    color: rgb(43, 34, 92);
}

.row {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

.row .col {
    position: relative;
    width: calc(40% - 20px);
    margin-bottom: 60px;
    margin-right: 60px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; 
}

.row .col h4 {
    text-align: center;
    font-size: 2.3rem;
    margin: 0; 
    margin-top: auto; 
    margin-bottom: 10px; 
}

.row .col p {
    margin: 0;
    padding: 10px;
    font-size: 1.8rem;
    text-align: left;
    color: #7c7c7c;
}

.row .col img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 8px; 
}
.events .row{
    margin-top: 50px;
}

h4{
    font-size: 3vmin;
    color: rgb(35, 26, 87);
    margin: 20px auto;
}

p{
    color: #7c7c7c ;
}

.ctn {
    display: inline-block;
    padding: 6px 12px; 
    font-size: 14px; 
    background-color: rgb(35, 26, 87); 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
    width: fit-content; 
    margin-left: 230px;
}

.ctn:hover {
    background-color: rgb(57, 52, 87); 
}


.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
}


.events-1 {
    width: 80%;
    margin: 80px auto;
}

.events-1 .title {
    text-align: center;
    font-size: 4vmin;
    color: rgb(43, 34, 92);
}

.events-1 .row {
    display: flex;
    align-items: center;
}

.events-1 .col:first-child {
    flex: 0 0 30%; /* Tamanho fixo para a imagem */
    margin-right: 30px;
}

.events-1 .col:last-child {
    flex: 1; /* Ocupa o restante do espaço disponível */
}

.events-1 .col img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.events-1 .col h1 {
    font-size: 2.7rem;
    color: rgb(43, 34, 92);
}

.events-1 .col p {
    color: #7c7c7c;
    font-size: 1.5rem;
    line-height: 1.6;
}

footer{
    background-color: rgb(81, 73, 133); /* Cor rodapé*/
    padding: 3rem 0;

}

.icons{
    text-align: center;
}

.icons .social i{
    font-size:  3rem;
    color: grey;
    padding: 1rem;
}

.icons .social i:hover{
    color: white;
    cursor: pointer;
}

.footer-1 .copyright p{
    font-size: 1.7rem;
    letter-spacing: 1px;
    color: white;
    margin: 2rem;
    text-align: center;
}
.footer-1{
    background-color: rgb(35, 26, 87);
    padding: 3px;
}

.txt-footer{
    color: whitesmoke;
    text-align: center;
}
.social p{
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
    margin-left: -290px;
}

.social a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
    margin-right: 20px; /* Espaçamento entre os links */
}

/* Estilizando o link quando passa o mouse por cima */
.social a:hover {
    color: rgb(35, 26, 87);
}
.container{
    width: 96%;
    max-width: 117rem;
    margin: 0 auto;
}

.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}


.navbar h1{
    text-transform: uppercase;
    color: white;   /* Cor do logo EngWeb*/
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul a{
    font-size: 1.2rem;
    padding: 1.5rem;
    text-transform:  uppercase;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 0.4s ease;
}

.navbar ul a:hover{
    color: rgb(35, 26, 87);
    background-color: white; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(35, 26, 87);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
